<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,240}}</string>
                <key>sourceSize</key>
                <string>{132,240}</string>
            </dict>
            <key>fly.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{179,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,196}}</string>
                <key>sourceSize</key>
                <string>{179,196}</string>
            </dict>
            <key>fly2.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{179,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,196}}</string>
                <key>sourceSize</key>
                <string>{179,196}</string>
            </dict>
            <key>left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{160,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,196}}</string>
                <key>sourceSize</key>
                <string>{160,196}</string>
            </dict>
            <key>left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,345},{160,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,196}}</string>
                <key>sourceSize</key>
                <string>{160,196}</string>
            </dict>
            <key>right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{160,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,196}}</string>
                <key>sourceSize</key>
                <string>{160,196}</string>
            </dict>
            <key>right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,183},{160,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,196}}</string>
                <key>sourceSize</key>
                <string>{160,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flying.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13e69c6402661c5b7fffb4a6783e5c54$</string>
            <key>textureFileName</key>
            <string>flying.png</string>
        </dict>
    </dict>
</plist>
